---
import FeaturedArticles from "../components/FeaturedArticles.astro";
import PrimaryLayout from "../Layouts/PrimaryLayout.astro";
---

<PrimaryLayout > 
	<div class="three-columns">
		<FeaturedArticles class="span-2" />
	</div>
	<!-- three cols -->
	 <!-- Featured articles -->
	 <!-- Newest articles -->
		<!-- three cols -->
		 <!-- Popular articles -->
		
</PrimaryLayout>
	
	
	