---
import FeaturedArticles from "../components/FeaturedArticles.astro";
import PopularArticles from "../components/PopularArticles.astro";
import PrimaryLayout from "../Layouts/PrimaryLayout.astro";
---

<PrimaryLayout > 
	<div class="three-columns section">
		<FeaturedArticles class="span-2" />
		<div class="inverted flow">
			<h2 class="accent-color">New</h2>
			<ul role="list" class="separated-list">
				<li>
				<article class="flow">
					<h3><a href="#">Article 1</a></h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero harum voluptas laboriosam adipisci,  molestiae vel nisi magnam itaque!</p>
				</article></li>
				<li>
					<article class="flow">
						<h3>Artical 2</h3>
						<p>Nobis, labore ducimus officiis voluptas sequi id mollitia maxime quam provident veritatis officia at tempore,  delectus quasi repudiandae similique. </p>
					</article>
				</li>
				<li>
					<article class="flow">
					<h3>Artical 3</h3>
					<p>Quas optio, minus consequatur mollitia ipsa dolorem, deserunt cumque accusantium corporis quibusdam consequuntur ipsam quidem ullam tempore!</p>
				</article>
			</li>
			</ul>
		</div>
	</div>
	<PopularArticles class="three-columns section" />
</PrimaryLayout>
	
	
		
	
	
	