---
import PrimaryLayout from "../Layouts/PrimaryLayout.astro";
---

<PrimaryLayout > 
	<h1>Hello, Astro.</h1>
	<!-- Header -->
	 <!-- three cols -->
		<!-- Featured articles -->
		<!-- Newest articles -->
		 <!-- three cols -->
			<!-- Popular articles -->
</PrimaryLayout>