---
const {class:className} = Astro.props
---
<h2 class="visually-hidden">Popular Articles</h2>
<ul role="list" class:list={className}>
  <li>
    <article>
      <img src="" alt="">
      <div>
        <h3></h3>
        <p></p>
      </div>
      
    </article>
  </li>
  <li>
    <article>
      
    </article>
  </li>
  <li>
    <article>
      
    </article>
  </li>
</ul>